body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-size: 16px;
    line-height: 1.3em;
    color: #232323;
}
@media only screen and (max-width: 960px) {
  body {
    font-size: 15px;
    line-height: 1.1em;
  }
}

header {
    color: #232323;
    position: absolute;
    right: 40px;
    top: 60px;
    z-index: 99999;
    text-align: right;
    line-height: 1.3em;
}
@media only screen and (max-width: 960px) {
    header {
        right: 25px;
        top: 40px;
    }
}
header h1 {
    font-size: 1.3em;
    font-family: "nitti_medium", sans-serif;
    margin-top: 0.3em;
}
@media only screen and (max-width: 960px) {
    header h1 {
        font-size: 1em;
    }
}
header h2 {
    font-size: 1.3em;
    margin-top: 0.3em;
}
@media only screen and (max-width: 960px) {
    header h2 {
        font-size: 1em;
    }
}
header p {
    line-height: 2em;
    color: #232323;
    text-decoration: none;
}
@media only screen and (max-width: 960px) {
    header p {
        font-size: 0.8em;
    }
}